.build-container {
    padding:100px 0px;
    /* height:100vh; */
}

.build-container h1 {
    text-align: center;
}

.build-form {
    width: 100%;
    display: inline-block;
    padding: 0rem 1rem;
}

.build-form label {
    color: rgb(100, 100, 100);
    font-family:Arial;
    letter-spacing: normal;
}

.build-form input {
    width: 100%;
    background-color: rgb(210, 213, 255);
    border: none;
    /* border-bottom: 1px solid black; */
    margin-bottom: 2rem;
    outline: none;
    color: black;
    transition: 0.2s ease all;
    border-bottom: 3px solid white;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 0.2rem 0rem 0.2rem 0.2rem;
}

.build-form input:focus {
    border-bottom: 3px solid rgb(30, 0, 177);
    transition: 0.2s ease all;
}

.build-form textarea {
    width: 100%;
    background-color: rgb(210, 213, 255);
    border: none;
    color: black;
    transition: 0.2s ease all;
    border-bottom: 3px solid white;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 0.2rem 0rem 0.2rem 0.2rem;
    margin-bottom: 2rem;
    outline: none;
}

.build-form-combine {
    display: flex;
    gap:20px;
}

.build-form-combine .multi-input-container {
    width: 100%;
}

/* .build-form-combine .multi-input-container:nth-of-type(1) {
    padding-right: 0.5rem;
}

.build-form-combine .multi-input-container:nth-of-type(2) {
    padding: 0rem 0.5rem;
}

.build-form-combine .multi-input-container:nth-of-type(3) {
    padding: 0rem 0.5rem;
} */

.build-add-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.build-add-div input {
    margin:0;
}

.multi-input-div input, .multi-input-div textarea {
    margin-bottom: 0.5rem;
}

.input-append-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;

  }

  .work-append-list {
    display: block;
    margin: 0;
  }
  
  .input-append-list p {
    margin: 0;
    font-size: 16px;
    color: #333;
  }

  .build-close-btn {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 2rem;
    margin-bottom: -0.5rem;
    cursor: pointer;
    transition:0.2s ease all;
    position: absolute;
    right: 0px;
    top:0px;
  }

  .build-close-btn:hover {
    color:red;
  }
.multi-input-container {
    margin-bottom: 2rem;
}

.resume-type-selection {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.resume-type-selection input {
    margin-bottom: 0rem;
}

.resume-type-selection label {
    display: inline-block;
    position: relative;
    /* padding-left: 25px; */
    cursor: pointer;
    user-select: none;
    margin-right: 10px; /* Add some space between labels */
    padding: 1rem 2rem; /* Add some padding to the label */
    border-radius: 5px; /* Optional: add rounded corners */
    z-index:9 !important;
    min-width: 250px;
    font-size: 1.5rem;
    transition: 0.2s ease all;
  }
  
  .resume-type-selection label:hover {
    background-color: #f0f0f0;
  }
  
  .resume-type-selection input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .resume-type-selection input[type="radio"]:checked + label {
    background-color: blue;
    color: white;
    font-weight: 800;
    letter-spacing: 0vw;
  }

  /* .add-btn-bg {
    border: 1px solid blue;
    display: flex;
    margin-bottom: .1rem;
  } */
  
  

.submit-btn {
    padding:0.75rem 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}


.format-label {
    margin-bottom: 1rem;
    font-size: 1.15rem;
}

.build-form-contacts {
    display: grid;
    grid-template-columns: repeat(2,2fr);
}

.build-form-contacts div:nth-of-type(even) {
    padding-left:1rem;
}
.build-form-contacts div:nth-of-type(odd) {
    padding-right: 1rem;
}

.work-radio input {
    width: auto;
}

.accomplishment-input .add-btn {
    /* margin-left: auto;
    display: flex; */
}

.accomplishment-btns {
    display: flex;
    align-items: center;
    justify-content: right;
}

.accomplishment-delete {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.accomplishment-delete:hover {
    color:red;
}

.work-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37,138,240);
    color: white;
    font-weight: 500;
    /* color: black; */
    width: 100%;
    border: 2px solid rgb(113, 113, 255);
    font-size: 1.25rem;
    padding:0.5rem 2rem;
    margin-bottom: 1rem;
}

.work-add-btn:hover {
    background-color: white;
    color: rgb(37,138,240);
    border: 2px solid rgb(37,138,240);
}

.resume-type-selection input[type="radio"] + label {
    border:2px solid rgb(233, 240, 246);
}

@media (max-width: 400px) {

    .resume-type-selection {
        display: block;
    }

    .resume-type-selection label {
        margin:0.5rem auto;
    }

    .build-form-contacts {
        grid-template-columns: repeat(1,1fr);
    }
    .build-form-contacts div:nth-of-type(odd), .build-form-contacts div:nth-of-type(even) {
        padding: 0;
    }

    .build-form-combine {
        display: block;
    }
}