.chatbot-container {
    position: fixed;
    bottom:30px;
    right:30px;
    width:80px;
    background-color: white;
    border-radius: 50%;
    padding:1rem 1.3rem;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999999999 !important;
    transition: 0.2s ease all;
}

.chatbot-container:hover {
    /* transform: scale(1.05); */
}
.chatbot-img {
    width:100%;
}

.tag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
    background-color: #f0f0f0; /* Light grey background */
}

.tag {
    padding: 8px 16px;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
}
.chat-interface {
    position: absolute;
    bottom: 100px;
    right: 0;
    width: 300px;
    background-color: #f4f7f6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height:400px;
    opacity: 1;
    transition: 0.2s ease-in-out all;
  }

  .no-display {
    /* height: 0px;
    width: 0px; */
    opacity: 0;
    width: 0;
    height: 0;
  }

  .development-tag {
    background-color: #ff0000;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding:1rem 0rem;
    letter-spacing: 0;
  }
  
  .chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    max-width: 70%;
  }
  
  .message.user {
    background-color: #cbdff8;
    align-self: flex-end;
  }
  
  .message.bot {
    background-color: #ffffff;
    align-self: flex-start;
  }
  
  .chat-input {
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .chat-input input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-right: 10px;
    outline: none;
  }
  
  .chat-input button {
    padding: 8px 15px;
    background-color: #2382f6;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }