.chatbot-container {
    position: fixed;
    bottom:30px;
    right:30px;
    width:80px;
    background-color: white;
    border-radius: 50%;
    padding:1rem 1.3rem;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999999999 !important;
}
.chatbot-img {
    width:100%;
}

.tag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
    background-color: #f0f0f0; /* Light grey background */
}

.tag {
    padding: 8px 16px;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
}
