.project-contact-container {
    /* padding-top:17rem; */
    color:rgb(40,40,40);
    background: #f3f3f3;
    border-bottom: 1px solid rgb(250, 250, 250);
    font-family: 'Montserrat', sans-serif !important;
    overflow: hidden;
    font-weight:400;
    letter-spacing:-.04vw;
}
.project-form {
    width:100%;
    /* margin-left: 15%; */
    transition:0.2s ease-in all;
}
.project-header {
    font-size:3rem;
    margin-bottom:4rem;
}
.project-subheader {
    font-size:2rem;
    color:rgb(190,190,190);
    margin-bottom:3rem;
}
.form-budget  {
    display: flex;
    margin-bottom:8rem;
}
.form-app-selection {
    display: block;
    margin-bottom:6rem;
}
.radio-label {
    margin-bottom:2rem;
}
.form-inputs {
    margin-bottom:0rem;
}

.thankyou-div {
    position:fixed;
    height:100vh;
    top:0;
    bottom:0;
    right:0;
    width:100vw;
    background-color: white;
    z-index:999999999;
    margin-top:0 !important;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: inline-grid;
}
.thankyou-close {
    position:absolute;
    top:0;
    right:0;
    font-size:4rem;
}
.thankyou-close:hover {
    cursor: pointer;
}
.thankyou-thanks {
    font-size:4rem;
}

#btn-ring{
    display: none;
    margin-top:0.5rem;
  }
  #btn-ring:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: ring 1.2s linear infinite;
    margin-left:1rem;
  }
  @keyframes ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .form-btn-p {
    margin-bottom:0rem;
  }
.form-input {
    margin-bottom:6rem;
    border:none;
    height:auto;
    width:50%;
    color:black;
    background:none !important;
    padding-left:0.3rem;
    padding-bottom:1rem;
    font-size: 2rem;
    border-bottom:1px solid rgb(190,190,190);
    transition: 0.3s;
}
.form-input:focus {
    outline:none;
    border-bottom: 1px solid black;
}
.form-input::placeholder {
    color:rgb(190,190,190);
}
.radio-label {
    padding:1rem 2rem;
    border-radius:30px;
    box-shadow:1px 5px 10px rgba(200,200,200,0.4);
    border:1px solid rgb(220, 220, 220);
    font-size:1rem;
    text-align: center;
    margin-right:1.25rem;

}
.radio-label:hover {
    cursor:pointer;
    background-color: rgb(230,230,230);
}
.form-app-selection input[type="radio"], .form-budget input[type="radio"] {
        display: none;
}

.form-app-selection input[type="radio" i]:checked + label, .form-budget input[type="radio" i]:checked + label {
    background-color: #a4d1f3;
}
.file-input::-webkit-file-upload-button {
    visibility: hidden;
    margin-bottom:6rem;
}
.file-input::before {
        content: 'Add Attachment';
        display: inline-block;
        color: black;
        outline: none;
        cursor: pointer;
        font-size: 2rem;
        width:100%;
        justify-content: center;
        text-align: center;
        transition: border-bottom 0.2s linear !important;
}

.form-attachment {
    margin-bottom:2rem;


}

.paperclip-icon {
    font-size:3rem;
    margin-right: -20px;

}
.project-form-btn {
    /* padding: 1.5rem 3rem; */
    font-size:1.8rem;
    border:none;
    border-radius:40px;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.2);
    transition:0.2s all ease;
    z-index:999 !important;
    font-weight: 500;
    margin-bottom: 6rem;
    transition: 0.2s ease-in-out;
    background-color: rgb(107, 107, 147);
    color:rgb(250,250,250);
    width:auto;
    display: flex;
}

.project-form-btn:hover {
    transform:translateY(-2px);
    
}

input[type='file'] {
    color: transparent;
  }

.budget-label {
    padding: 2rem 5rem;
  }

.form-budget {
    display: block;
}


@media only screen and (max-width: 870px) {
    .project-form {
        width:90%;
        margin-left: 5%;
    }

}

@media only screen and (max-width: 870px) {



}

@media only screen and (max-width: 600px) {
    .project-header {
        font-size:3.5rem;
    }

    .project-subheader {
        font-size:3rem;
    }
    .form-input {
        font-size: 3rem;
    }
    .project-form-btn {
        font-size: 2rem;
    }
  
}