@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Gabarito:wght@400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    letter-spacing:-0.1rem;
    scroll-behavior: smooth;
}

textarea, input {
  font-family: 'Montserrat', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

pre {
  white-space: pre-wrap;
  letter-spacing: 0;
  font-family: Montserrat;
}


h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h6 {
  font-size:2rem;
}

p {
  letter-spacing: 0vw;
}

.classic-flexer {
  display: flex;
  justify-content: center;
}

.flexer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 2rem;
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
  transition: 0.2s ease all;
}
.add-btn:hover {
  color: blue;
}

.btn-margin {
  margin:0 auto;
  display: flex;
}

.center-align {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}